.jumbotron{
    background-color: darkturquoise;
    color: deepskyblue;
    font-family: cursive;
}
html {
    background-color: dodgerblue;
}
img.resize{
    max-width: 100px;
    max-height: 100px;
    float: static;
}
#Survey-Form{
    background-color: darkviolet;
    color: mediumpurple;
    font-family: cursive;
}
a:link {
 color: lightseagreen;
 font-family: cursive;
}

a:visited {
 color: lightgreen;
 font-family: cursive;
}

a:hover {
color: yellow;
font-family: cursive;
}

a:active {
color: lawngreen;
font-family: cursive;
}