.jumbotron{
    background-color: darkturquoise;
    color: darkslateblue;
    font-family: 'Luckiest Guy', cursive;
}
html {
    background-color: dodgerblue;
}
img.resize{
    max-width: 75px;
    max-height: 75px;
    float: static;
}
#Survey-Form{
    background-color: darkviolet;
    color: lavenderblush;
    font-family: 'Luckiest Guy', cursive;
    font-size: x-large;
}
a:link {
 color: lightseagreen;
 font-family: 'Luckiest Guy', cursive;
 background-color: darkslateblue;
 font-size: x-large;
}

a:visited {
 color: lightgreen;
 font-family: 'Luckiest Guy', cursive;
}

a:hover {
color: yellow;
font-family: 'Luckiest Guy', cursive;
}

a:active {
color: lawngreen;
font-family: 'Luckiest Guy', cursive;
}
i{
    font-size: x-large;
}